.Topping {
	font-size: 0.8rem;
	color: #9ea0a3;
	font-family: 'DM Sans', sans-serif;
	padding: 10px;
}
.MainContainer {
	width: 90%;
	margin: auto;
	display: flex;
	flex-flow: column;
	flex-wrap: wrap;
}
.ChipContainer {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
